@charset "UTF-8";

body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

#site {
    width: 1350px;
    height: 1000px;
    margin-top: 0;
    margin-left: -4px;
    margin-bottom: 0;
    margin-right: auto;
    background-color: white;
}

#header {
    width: 1350px;
    height: 400px;
    background-color: rgb(141, 141, 236);
    margin-top: -8px;
    margin-left: -4px;
    margin-bottom: 0;
    margin-right: auto;
}

#conteudo {
    width: 1350px;
    height: 550px;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    text-align: justify;
    text-indent: 40px;
    margin-top: 30px;
    margin-top: 0px;
    margin-left: -4px;
    margin-bottom: 0px;
    margin-right: auto;
}

#contestrutura {
    width: 1300px;
    height: 1000px;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    text-align: justify;
    text-indent: 40px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#contestruturaform {
    width: 1300px;
    height: 700px;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    text-align: justify;
    text-indent: 40px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

h2#estrutura {
    text-align: center;
}

#conteudo_left {
    width: 420px;
    height: 500px;
    float: left;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    text-align: justify;
    text-indent: 40px;
    margin-top: 0px;
    padding: 15px;
}

h1#titulo {
    text-align: center;
}

h3#h3conteudo {
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img#top {
    width: 1350px;
    height: 400px;
}

img#cont_left {
    display: block;
    margin-top: 80px;
    margin-left: 65px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(150, 147, 147, 0.788);
    border-radius: 20px;
}

#conteudo_centro {
    width: 420px;
    height: 530px;
    float: left;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    text-align: justify;
    text-indent: 40px;
    padding: 15px;
}

#conteudo_right {
    width: 420px;
    height: 500px;
    float: left;
    float: left;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    text-align: justify;
    text-indent: 40px;
    padding: 15px;
}

#footer {
    width: 1350px;
    height: 50px;
    background-color: white;
    margin-top: 20px;
    margin-left: -4px;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center;
}

#footersurg {
    width: 1350px;
    height: 50px;
    background-color: white;
    margin-top: 600px;
    margin-left: -4px;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center;
}